@page
@model ErrorModel
@{
    ViewData["Title"] = L["Title.Error"];
}

<h1 class="text-danger">@L["Error.Heading"]</h1>
<h2 class="text-danger">@L["Error.Subheading"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@L["Error.RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@L["Error.DevModeTitle"]</h3>
<p>
    @L["Error.DevModeBody1"]
</p>
<p>
    <strong>@L["Error.DevModeBody2"]</strong>
    @L["Error.DevModeBody3"]
</p>
